/* Colores personalizados */
:root {
 --bs-primary: #22265D;
 --bs-secondary: #00B0E6;
/*  --bs-light: #D3EBF9;*/
/*  --bs-body-bg: #D3EBF9; */ 
}

/* Sobrescribir botones */
.btn-primary {
 background-color: var(--bs-primary) !important;
 border-color: var(--bs-primary) !important;
}

/* .btn-secondary {
 background-color: var(--bs-secondary) !important;
 border-color: var(--bs-secondary) !important;
} */

/* Colores de texto */
.text-primary {
 color: var(--bs-primary) !important;
}

.text-secondary {
 color: var(--bs-secondary) !important;
}

.table-primary{
 background-color: var(--bs-primary) !important;
}

/* Color de fondo general */
/* body {
 background-color: var(--bs-body-bg);
} */

.active-lateral {
  border-left: 4px solid #00B0E6;
  padding-left: 0.75rem; /* opcional: para que no se monte el texto encima del borde */
  background-color: rgba(0, 176, 230, 0.1); /* opcional: un leve fondo para destacar */
}
